.types_of_amplifier_non_inverting{
    text-decoration: none;

    left: 20px;
    top: 360px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -2.5px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    letter-spacing: 0.5px;
}
.non_inverting_non_inverting{
    text-decoration: none;

  left: 20px;
  top: 385px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  line-height: 25px;
  margin-top: -2.5px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #EFC862;
  letter-spacing: 0.5px;
}
.defination{
    line-height: 30px;
}
.heading{
    color: #EFC862;
    font-size: 23px;
}
.non_inverting_working{
    display: inline-flex;
    position: absolute;
}

.image{
   margin-left: 100px;
    margin-top: 10px;
}