.search-box{
    position: absolute;
    top: 60px;
    left: 29%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 35px;
    border-radius: 70px;
    padding: 10px;
}
.search-box:hover > .search-txt{
    width: 120px;
    padding: 0 6px;
}
.search-btn{
    float: right;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}