*{ 
     
    background: #313132;
     /* background:   rgb(28, 28, 29); 

       */   
       margin-right: 8px; 
}


/*--------------------------------------article-------------------------------------*/
.syllabus{
  color: #EFC862;
  padding-left: 550px;
  font-size: 23px;
  letter-spacing: 1px;
  overflow: visible;
  text-decoration: underline;
  
 
}
.unit_one{
  color: white;
  margin-left: 350px;
  margin-top: 50px;
  text-align: justify;
  font-size: 19px;
  font-weight: normal;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Lora', serif;
  
  
}
.second_unit{
  color: white;
  margin-left: 350px;
  font-size: 19px;
  text-align: justify;
  font-family: 'Lora', serif;
  letter-spacing: 1px;  
}
.unit_three{
  color: white;
  margin-left: 350px;
  text-align: justify;
  font-size: 19px;
  font-family: 'Lora', serif;
  letter-spacing: 1px;  
}
.unit_four{
  color: white;
  margin-left: 350px;
  text-align: justify;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Lora', serif;
}

.unit_five{
  color: white;
  text-align: justify;
  font-family: 'arial,sans-serif';
  margin-left: 350px;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Lora', serif;
}
  