.unity_follower{
    text-decoration: none;
  
    left: 20px;
    top: 435px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    line-height: 25px;
    margin-top: -2.5px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #EFC862;
    letter-spacing: 0.5px;
  }


.previous_button_unity_follower{
    margin-left: 700px;
    border-radius: 10px;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    overflow: visible;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .previous_button_unity_follower{
    background-color: #313132; 
    color: #EFC862; 
    border: 5px solid #EFC862;
  }
  
  .previous_button_unity_follower:hover {
    background-color: #27DEBF;
    border: 5px solid black;
    color: black;
  }

  /*----------------------------------------------------------------------------------------*/

  .next_button_unity_follower{
    margin-top: 380px;
    margin-left: 100px;
    border-radius: 10px;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    overflow: visible;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .next_button_unity_follower{
    background-color: #313132; 
    color: #EFC862; 
    border: 5px solid #EFC862;
  }
  
  .next_button_unity_follower:hover {
    background-color: #27DEBF;
    border: 5px solid black;
    color: black;
  }